<section>
    <article class="post">
        {{#each posts as |post| }}
            <p>{{post.user.username}} worked out on {{post.createdAt}}
      <ul>
        {{#each entries as |entry|}}
        <li>
          {{entry.exercise.exercise_name}}: {{entry.set_count}} sets, {{entry.rep_count}} reps, {{entry.weight}} lbs, {{entry.effort}}, {{entry.rest}} rest
        </li>
        {{/each}}
      </ul>

    </p>
        {{/each}}    
    </article>
</section>